<section class="px-4 sm:px-6 pt-32 sm:pt-44 pb-16 sm:pb-24">

    {{# 1. Headline #}}
    {{ if talleres_titulo }}
    <h2 id="talleres-headline" class="font-display font-bold text-center -mb-10 sm:-mb-16 text-[clamp(3.5rem,9vw,8rem)] leading-none text-[#323E81]">
        {{ talleres_titulo }}
    </h2>
    {{ /if }}

    {{# Misma colocación del personaje que en la home: ahora las dos abren con
        sabatinos, así que en la tarjeta ancha va el mismo unicornio y le sirve
        la misma calibración. #}}
    {{ partial:_talleres-tarjetas
        clase_personaje="absolute pointer-events-none z-10 left-1/2 -translate-x-1/2 w-44 top-7 sm:-top-32 sm:left-[32%] sm:translate-x-0 sm:w-[21%] sm:top-auto sm:bottom-0 [&_.personaje-anim]:scale-[2] sm:[&_.personaje-anim]:scale-[3.1] [&_.personaje-anim]:origin-bottom"
        clase_media="relative block w-full h-auto object-contain" }}

</section>
